
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-vimeo:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-mail-1:before { content: '\e808'; } /* '' */
.icon-home-outline:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-star-filled:before { content: '\e80c'; } /* '' */
.icon-thumbs-up:before { content: '\e80d'; } /* '' */
.icon-thumbs-down:before { content: '\e80e'; } /* '' */
.icon-docs:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-users-1:before { content: '\e811'; } /* '' */
.icon-right:before { content: '\e812'; } /* '' */
.icon-up:before { content: '\e813'; } /* '' */
.icon-down:before { content: '\e814'; } /* '' */
.icon-left:before { content: '\e815'; } /* '' */
.icon-tablet:before { content: '\e816'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-code:before { content: '\e818'; } /* '' */
.icon-code-outline:before { content: '\e819'; } /* '' */
.icon-quote-left:before { content: '\e81a'; } /* '' */
.icon-quote-right:before { content: '\e81b'; } /* '' */
.icon-video-alt:before { content: '\e81c'; } /* '' */
.icon-video:before { content: '\e81d'; } /* '' */
.icon-pencil:before { content: '\e81e'; } /* '' */
.icon-angle-circled-left:before { content: '\e81f'; } /* '' */
.icon-angle-circled-right:before { content: '\e820'; } /* '' */
.icon-angle-circled-up:before { content: '\e821'; } /* '' */
.icon-angle-circled-down:before { content: '\e822'; } /* '' */
.icon-website:before { content: '\e823'; } /* '' */
.icon-laptop:before { content: '\e824'; } /* '' */
.icon-desktop:before { content: '\e825'; } /* '' */
.icon-mic-outline:before { content: '\e826'; } /* '' */
.icon-mic:before { content: '\e827'; } /* '' */
.icon-phone:before { content: '\e828'; } /* '' */
.icon-phone-outline:before { content: '\e829'; } /* '' */
.icon-feather:before { content: '\e82a'; } /* '' */
.icon-cube:before { content: '\e82b'; } /* '' */
.icon-cubes:before { content: '\e82c'; } /* '' */
.icon-headphones:before { content: '\e82d'; } /* '' */
.icon-hourglass:before { content: '\e82e'; } /* '' */
.icon-hourglass-1:before { content: '\e82f'; } /* '' */
.icon-feather-1:before { content: '\e830'; } /* '' */
.icon-code-1:before { content: '\e831'; } /* '' */
.icon-code-2:before { content: '\e832'; } /* '' */
.icon-file-code:before { content: '\e833'; } /* '' */
.icon-brush:before { content: '\e834'; } /* '' */
.icon-mobile:before { content: '\e835'; } /* '' */
.icon-mobile-1:before { content: '\e836'; } /* '' */
.icon-paper-plane:before { content: '\e837'; } /* '' */
.icon-attach:before { content: '\e838'; } /* '' */
.icon-cinema:before { content: '\e839'; } /* '' */
.icon-videocam-outline:before { content: '\e83a'; } /* '' */
.icon-videocam:before { content: '\e83b'; } /* '' */
.icon-videocam-alt:before { content: '\e83c'; } /* '' */
.icon-scissors:before { content: '\e83d'; } /* '' */
.icon-magic:before { content: '\e83e'; } /* '' */
.icon-chart-line:before { content: '\e83f'; } /* '' */
.icon-chart-bar:before { content: '\e840'; } /* '' */
.icon-gauge:before { content: '\e841'; } /* '' */
.icon-trophy:before { content: '\e842'; } /* '' */
.icon-monitor:before { content: '\e843'; } /* '' */
.icon-mobile-2:before { content: '\e844'; } /* '' */
.icon-cog:before { content: '\e845'; } /* '' */
.icon-note-beamed:before { content: '\e846'; } /* '' */
.icon-flashlight:before { content: '\e847'; } /* '' */
.icon-info-circled:before { content: '\e848'; } /* '' */
.icon-gplus-1:before { content: '\e849'; } /* '' */
.icon-pinterest:before { content: '\e84a'; } /* '' */
.icon-tumblr:before { content: '\e84b'; } /* '' */
.icon-fire:before { content: '\e84c'; } /* '' */
.icon-picture:before { content: '\e84d'; } /* '' */
.icon-zoom-in-outline:before { content: '\e84e'; } /* '' */
.icon-zoom-out-outline:before { content: '\e84f'; } /* '' */
.icon-link:before { content: '\e850'; } /* '' */
.icon-camera:before { content: '\e851'; } /* '' */